local_key = "rdatacore"
# Just using it for aliases
no_docker_compose = true

[commands]
    [commands.test]
        "alias" = "test"
        "execution" = "RUST_LOG=warning cargo test --workspace -- --test-threads=1"
        "description" = "Runs all tests sequentially (as we need to have it for integration tests. Needs the test database"
    [commands.test-unit]
        "alias" = "test-unit"
        "execution" = "RUST_LOG=warning cargo test --lib -p r_data_core && RUST_LOG=warning cargo test --test hash_passwords"
        "description" = "Runs all unit tests"
    [commands.test-fe]
        "alias" = "test-fe"
        "execution" = "docker compose exec node npm run test"
        "description" = "Runs vitest for FE testing"
    [commands.clippy]
        "alias" = "clippy"
        "execution" = "cargo clippy --workspace --all-targets --all-features -- -D clippy::all -D warnings -D clippy::pedantic -D clippy::nursery"
        "description" = "Runs clippy with all lints enabled"
    [commands.lint]
        "alias" = "lint"
        "execution" = "docker compose exec node npm run lint"
        "description" = "Runs ESLint (with prettier) and fixes it's findings"
# Mandatory node
[environments]
